body{
    font-size: 15px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 5px;
    text-align: start;
    
}


.box{
    border: solid 1px;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}
.C{
    border: solid 1px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: white;
}
.boxx{
    background-color: cornflowerblue;
    border-radius: 3px;
}

.rem {
    margin-right: 65px;
}
.B{
    text-align: center;
}
.pass{
    color: cornflowerblue;
    text-align: right;
}
